.sidebar-container {
    display: flex;
    height: 631px;
    background-color: #f5f5f5;
    overflow-y: scroll
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #e6e6e6;
    width: 200px;
    padding: 10px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  
  button {
    padding: 10px;
    margin: 10px 0;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4d05b9;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 160px;
  }
  
  button.active {
    background-color: #ffff;
    color: #4d05b9;
  }
  
  .content {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  