.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
	background-color: #333030;
	color: #000000;
}	


.input-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	background-color: #333030;
	padding: 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;


}

.input-container input {
	width: 88%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	padding-left: 20px;
	border-radius: 5px;
	background-color: #ffffff;
	color: #333030;
	
}

.input-container button {
	width: 10%;
	height: 90%;
	border: none;
	outline: none;
	background-color:  #0096FF;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}

.input-container button:hover {
	cursor: pointer;
	background-color: #0096FF;
}

.sections {
	display: flex;
	flex-direction: row;
	padding: 15px;
	height: calc(
		100% - 80px
	); /* the height is the remaining space after the input container */
}

.section1 {
	width: 15%;
	max-height: 69.5%;
	background-color: #ffffff;
	color: #000000;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 15px;
	
}

.section1 textarea {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	border-radius: 5px;
	/* color: #ffffff; */
	background-color: #ffffff;
	color: #000000;
	
}

.section2 {
	width: 43%;
	height: 100%;
	background-color: #333030;
	color: #ffffff;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 15px;
}

.section2 textarea {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	border-radius: 5px;
	color: #ffffff;
	background-color: #333030;
}

.section3 {
	width: 43%;
	height: 100%;
	background-color: #333030;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 15px;
}

.section3 textarea {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	border-radius: 5px;
	color: #ffffff;
	background-color: #333030;
}

.section4 {
	width: 15%;
	height: 100%;
	background-color: #333030;
	box-sizing: border-box;
	padding-left: 40px;
	/* flex: end; */

}

/* .section4 button {
	width: 10%;
	height: 6%;
	background-color: #4d05b9;
	border: none;
	outline: none;
	border-radius: 5px;
	position: absolute;
	bottom: 20px;
	right: 10;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
}

.section4 button:hover {
	cursor: pointer;
	background-color: #0d7ef7;
} */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333030;
	color: #fff;
	height: 60px;
	padding: 0 20px;

}

.logo {
	font-size: 24px;
	font-weight: bold;
}

.CodeSum {
	/* flex-direction: column; */
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	background-color: #333030;
	color: #000000;
}

.CodeSummar {
	flex: auto;
	flex-direction: row;
	height: auto;
}

.section1cs{
	width: 15%;
	min-height: 650px;
	background-color: #ffffff;
	color: #000000;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 5px;
}

.requirements {
	width: 50%;
	align-items: center;
	justify-content: center;
	min-height: 650px;
	background-color: #ffffff;
	color: #000000;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 5px;
	margin-left: 20px;
}

.requirements textarea {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	border-radius: 5px;
	color: #333030;
	background-color: #ffffff;
	padding:20px
}

.container1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50%;
	width: 100vw;
	background-color: #333030;
	color: #000000;
}

.container_Dependency {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50%;
	width: 100vw;
	background-color: #333030;
	color: #000000;
	}
	
	.Image_Dependency {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150%;
	min-width: 00px;
	width: 100%;
	background-color: #333030;
	color: #000000;
	padding: 20px;
	border: 1px solid #ccc;

	}

/* CSS code */
.navbar {
	display: flex;
	background-color: #333;
	color: #fff;
	
  }
  
  .navbar a {
	color: #929191;
	text-decoration: none;
	padding: 10px;
	
  }
  
  .navbar a.selected {
	background-color: #f5f5f5;
	color: #ffffff;
	font-weight: bold;
	
  }
	